html {
  background-color: #0a1929;
  color: rgba(255, 255, 255, 0.814);
}
.question-and-answer {
  // border: 1px solid purple;
  display: flex;
  flex-direction: column;
  justify-items: center;
  .formDiv {
    display: flex;
    justify-content: center;
    // border: 1px solid green;
    .form {
      .clickedIcon {
        transition: all 0.1s ease-in-out;

        &:active {
          transform: translateY(4px);
        }
      }
    }
  }
  .answer {
    display: flex;
    justify-content: center;
    // border: 1px solid red;
  }
}
