@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

// GOOGLEFONTS
$fontAmatic: "Amatic SC";

// COLORS
$backgroundColor: #0a1929;
$colorTxt: #f0f0f0;
$redLight: #d27272;
