@import "variables";

html {
  background-color: $backgroundColor;
  color: $colorTxt;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.question-and-answer {
  display: flex;
  flex-direction: column;
  .formDiv {
    display: flex;
    justify-content: center;
    .form {
      label.MuiInputLabel-root {
        font-size: 18px;
        font-family: $fontAmatic, sans-serif;
      }
      .clickedIcon {
        transition: all 0.1s ease-in-out;

        &:active {
          transform: translateY(4px);
        }
      }
    }
  }
  .answer {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: $fontAmatic;
    font-size: 18px;
  }

  .footerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    footer {
      display: flex;
      justify-content: center;
      position: fixed;
      bottom: 0;
      width: 100%;
      line-height: 50px;
      p {
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
          color: $colorTxt;
          &:hover {
            color: $redLight;
          }
        }
      }
    }
  }
}

// CSS DESKTOP
@media screen and (min-width: 1024px) {
  .question-and-answer {
    .formDiv {
      .form {
        .clickedIcon {
          transition: all 0.1s ease-in-out;

          &:active {
            transform: translateY(4px);
          }
        }
      }
    }
    .answer {
      display: flex;
      justify-content: center;
      text-align: center;
      font-family: $fontAmatic;
      font-size: 25px;
    }

    .footerDiv {
      footer {
        p {
          font-size: 20px;
        }
      }
    }
  }
}
